body{
    background-color: #264653;
    color: #F4A261;
    font-family: madimione;
    margin: 5px;
}

a {
  text-decoration: none;
}

#header{
    background-color: #8D4A39;
    font-size: xx-large;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

#qlink {
  background-color: #f44336;
  color: white;
  padding: 15px 25px;
  text-align: center;
  display: inline-block;
}

#qlink:hover {
  background-color: red;
}

nav a{
    padding: 1rem 4%;
    font-size: 2.5rem;
}

#main-nav{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    list-style-type: none;
    margin: 5px;
    padding: 5px;
}

#dropdown-nav{
    display: none;
    background-color: red;
}

#dropdown-nav li{
    margin: 5px;
    padding: 5px;
}

#main-nav li:hover #dropdown-nav{
    display: block;
    position: absolute;
}

#dropdown-color:hover{
    color: purple;
    border-bottom: 3px solid transparent;
}

#dropdown{
    font-size: 1.75rem;
}