body {
    background-color: #418ba8;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 
    "left middle right";
    height: 100vh;
    margin: 0;
}

#left {
    grid-area: left;
    background-color: #264653;
}

#left img {
    width: 100%;
}

#infoText{
    margin: 1em;
    color: #F4A261;
    font-family: 'montserrat';
}

h1 {
    font-family: 'madimione';
    text-align: center;
}

hr {
    border: 2px solid #8D4A39;
    border-radius: 10px;
    
}

.button {
    display: block;
    font-family: 'madimione';
    font-size: 1em;
    color: #F4A261;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    border: 5px solid #8D4A39;
    border-radius: 10px;
    transition: ease-in-out 0.5s;
    cursor: pointer;
}
.button:hover {
    scale: 1.05;
    background-color: #8D4A39;
    color: #F4A261;
}

#middle {
    grid-area: middle;
}
#right {
    grid-area: right;
    background-color: #264653;
}

#resultaat{
    padding: 2em;
    text-align: center;
    color: #F4A261;
    font-family: 'madimione';
}

#vraagContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

main img {
    width: 100%;
    border: 5px solid #8D4A39;
    border-radius: 10px;
}

#image {
    width: 40%;
}

#vraag {
    width: 100%;
    margin: 1em;
    font-family: 'madimione';
    color: #F4A261;
    font-size: 1.5em;
}

#antwoorden {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "antwoord1 antwoord2"
    "antwoord3 antwoord4";
}

#antwoord1, #antwoord2, #antwoord3, #antwoord4{
    width: 25vw;
    height: auto;
    padding: 1em;
    margin: 0.5em;
    border-radius: 10px;
    color: #fff;
    font-family: 'montserrat';
    transition: ease-in-out 0.5s;
    cursor: pointer;
}

#antwoord1:hover, #antwoord2:hover, #antwoord3:hover, #antwoord4:hover{
    scale: 1.05;
    box-shadow: 0 5px 15px #0000004d;
}
#antwoord1{
    background-color: #E76F51;
    grid-area: antwoord1;
}
#antwoord2{
    background-color: #004169;
    grid-area: antwoord2;
}
#antwoord3{
    background-color: #E9C46A;
    grid-area: antwoord3;
}
#antwoord4{
    background-color: #2A9D8F;
    grid-area: antwoord4;
}

@media only screen and (max-width: 600px) {
    #left {grid-area: 1 / span 3;}
    #middle {grid-area: 2 / span 3;}
    #right {grid-area: 3 / span 3;}
}