body{
    background-color: #264653;
    color: #F4A261;
    margin: 5px;
}

a {
  text-decoration: none;
}

#header{
    background-color: #8D4A39;
    font-family: madimione;
    font-size: xx-large;
}

#intro{
    font-family: madimione;
}

#paragraaf{
  font-family: madimione;
}

#qlink {
  background-color: #f44336;
  color: white;
  padding: 15px 25px;
  text-align: center;
  display: inline-block;
}

#qlink:hover {
  background-color: red;
}